 <p class="mt-5 mb-1"><strong>Original link: </strong>
                                   <p class="text-wrap text-break">
                                       <a href='{{ original_url }}' target='_blank'>
                                           {{ original_url }}
                                       </a>
                                       </p>
                                   <p/>
                               <p class="mt-5"><strong>Short link:</strong></p>
                               <input
                                   class="form-control text-center mx-auto mb-4 shadow"
                                   type="text"
                                   value="{{ absolute_url }}{{ short_url }}"
                                   style="max-width: 350px"
                                   id="short-url" disabled>
                               <div class='position-relative' style="position:relative">
                                   <button id="copy-btn"
                                           class="btn btn-sm btn-outline-secondary col-2 mb-4 shadow"
                                           onclick="copyShortUrl(document.querySelector('#short-url').value)">
                                           Copy
                                   </button>
                                   <span
                                       class="mx-2 position-absolute end-40 rounded-3 shadow py-1 px-3"
                                       id="copy-message"
                                       style="opacity: 0; height:35px"
                                   >
                                       Copied!
                                   </span>
                               </div>
                               <p>Short link <strong>expires</strong> at: {{ expires_at }}</p>